.btn-nuevo {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid black;
    margin-bottom: 5px;
}