<p>articulo works!</p>
<div>
  <h1>Administración de artículos</h1>
  <h2>Formularios Reactivos</h2>
  <div  style="display: flex;flex-direction: column;align-items: center;">
    @if(mensaje!=''){
      <p style="background-color: rgb(239 110 110);
    color: antiquewhite;
    font-weight: bold;
    padding: 2px;
    border-radius: 2px;">{{mensaje}}</p>
    }
    <p><button (click)="limpiar()" class="btn-limpiar">Limpiar Campos</button></p>
    <form [formGroup]="formularioArticulo" (ngSubmit)="agregar()"  style="display: flex;align-content: stretch;align-items: flex-end;flex-direction: column;flex-wrap: nowrap;">
      <p>
        codigo:<input
          type="number"
          formControlName="codigo"
        /><!-- disabled="{{ desableImputCodigo }}" -->
      </p>
      <p>descripcion:<input type="text" formControlName="descripcion" /></p>
      <p>precio:<input type="text" formControlName="precio" /></p>
      <!-- @if(this.formularioArticulo.get('precio')?.errors?.['pattern']) {
        <span>Formato invalido</span>
      } -->
      <p>
        <!-- <button (click)="agregar()">Agregar</button> -->
        <button type="submit" class="btn-nuevo">Guardar</button>
        |
        <a routerLink="/articulo-list" class="btn-regresar">Regresar a listado</a>
      </p>
    </form>
  </div>
</div>