<p>articulo works!</p>
<div>
  <h1>Administración de artículos</h1>
  <h2>Formularios Reactivos</h2>
  <div  style="display: flex;flex-direction: column;align-items: center;">
    @if(mensaje!=''){
      <p [ngClass]="classBackgroundColor">{{mensaje}}</p>
    }
    <p><button (click)="limpiar()" mat-raised-button color="warn">Limpiar Campos</button></p>
    <form [formGroup]="formularioArticulo" (ngSubmit)="agregar()"  style="display: flex;align-content: stretch;align-items: flex-end;flex-direction: column;flex-wrap: nowrap;">
      <!-- <p>
        codigo:<input
          type="number"
          formControlName="codigo"
        />
      </p> -->
      <mat-form-field>
        <input matInput type="text" formControlName="descripcion" placeholder="descripción"/>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="precio" placeholder="precio"/>
      </mat-form-field>
      <!-- <p>descripcion:<input type="text" formControlName="descripcion" /></p> -->
      <!-- <p>precio:<input type="text" formControlName="precio" /></p> -->
      <!-- @if(this.formularioArticulo.get('precio')?.errors?.['pattern']) {
        <span>Formato invalido</span>
      } -->
      <p>
        <!-- <button (click)="agregar()">Agregar</button> -->
        <button mat-raised-button color="accent" type="submit" class="btn-nuevo">Guardar</button>
        |
        <a routerLink="/articulo-list" mat-raised-button color="primary">Regresar a listado</a>
      </p>
    </form>
  </div>
</div>